parameters:
    checkMissingIterableValueType: false

    excludePaths:
        - src/DependencyInjection/Configuration.php
    ignoreErrors:
        - '#Comparison operation "<|>=" between .* is always (true|false).#'
        - '#Result of && is always (true|false)#'
